<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inside_car_image %>
    <%= form.file_field :inside_car_image %>
  </div>
  
  <div class="field">
    <%= form.label :front_car_image %>
    <%= form.file_field :front_car_image %>
  </div>

  <div class="field">
    <%= form.label :profil_view_image_car %>
    <%= form.file_field :profil_view_image_car %>
  </div>
  
  <div class="field">
    <%= form.label :marque %>
    <%= form.text_field :marque %>
  </div>

  <div class="field">
    <%= form.label :modele %>
    <%= form.text_field :modele %>
  </div>

  <div class="field">
    <%= form.label :prix %>
    <%= form.number_field :prix %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
