<p id="notice"><%= notice %></p>

<div class="d-flex" style="width:100%;">
  <div style="width:75%;">
    <div class="d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width:55%">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag @car.inside_car_image, class:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag @car.front_car_image, class:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <!-- img src="..." class="d-block w-100" alt="..." -->
          <%= image_tag @car.profil_view_image_car, class:"d-block w-100" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-center" style="margin:4%;">
      <div class="flex-column" style="margin-right:5%;">
        <p>
          <h5>Marque:</h5>
          <strong><%= @car.marque.name %></strong>
        </p>


        <p>
          <h3>Modele:</h3>
          <strong><%= @car.modele.name %></strong>
        </p>
      </div>

      <div class="flex-column" style="margin-right:5%;">
        <p>
          <h5>Price:</h5>
          <strong><%= @car.prix %></strong>
        </p>

        <p>
          <h5>Year:</h5>
          <strong><%= @car.year.strftime("%Y %B") %></strong> <%#= @car.year..strftime("%M") %>
        </p>

      </div>

      <div class="flex-column">
        <p>
          <h5>Color:<h5>
          <strong><%= @car.color %></strong>
        </p>
      </div>
    </div>
    <div class="d-flex flex-column">
        <p>
          Description:</strong>
          <%= markdown(@car.description)%>
        </p>
      </div>
  </div>

  <div class="align-items-md-center" style="width:25%;padding:5px;">
    <div class="">
      <%= link_to "Envoyer un Message", "#" , class:"btn btn-primary", style:"width:100%;margin-bottom:5px;" %>
      <%= link_to "Paiement securise", "#" , class:"btn", style:"width:100%;margin-bottom:5px;background-color:#FF6E14;color:white;" %>
      <%= link_to "Other ...", "#" , class:"btn btn-outline-info", style:"width:100%" %> 
    </div>
  </div>
</div>




<br>

  

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
