<p id="notice"><%= notice %></p>

<% if @car.inside_car_image.attached? %>
    <p>
      <strong>Insider:</strong>
      <%= image_tag @car.inside_car_image, width: '35%' %>
    </p>
<% end %>

<% if @car.profil_view_image_car.attached? %>
  <p>
    <strong>Profil View:</strong>
    <%= image_tag @car.profil_view_image_car, width: '35%'  %>
  </p>
<% end %>

<% if @car.front_car_image.attached? %>
  <p>
    <strong>Front View:</strong>
    <%= image_tag @car.front_car_image, width: '35%'  %>
  </p>
<% end %>



<% if @car.inside_car_image.attached? %>
  <p>
    <strong>Marque:</strong>
    <%= @car.marque %>
  </p>
<% end %>


<p>
  <strong>Modele:</strong>
  <%= @car.modele %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.prix %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year.strftime("%Y %B") %> <%#= @car.year..strftime("%M") %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown(@car.description)%>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
